<a href="https://colab.research.google.com/github/areola-joshua/Force-2020-Machine-Learning-competition/blob/master/color%20table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = {'A': [1.7,2,0.5,1,4],
      'B': [2,54,1,23,1],
      'C': [np.nan,3,2,31,5]}

In [5]:
df = pd.DataFrame(df)

In [6]:
df.head()

     A   B     C
0  1.7   2   NaN
1  2.0  54   3.0
2  0.5   1   2.0
3  1.0  23  31.0
4  4.0   1   5.0

In [7]:
def colorit(value):
  if value < 1:
    color = 'red'
  elif value > 1:
    color = 'green'
  else:
    color = 'yellow'

  return 'color:%s' %color

In [8]:
df1 = df.style.applymap(colorit, subset = ['A','B','C'])

In [9]:
df1